html, body, div {
    width: 100%;
    margin: auto;
    font-family: Tahoma, serif;
}

#root {
    margin-top: 200px;
}

div, p {
    text-align: center;
}

p {
    font-size: 2rem;
    color: #1c2128;
}

button {
    min-width: 100px;
    margin: 2px !important;
}